<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>jQuery MultiSelect Widget Demo</title>
    <link rel="stylesheet" type="text/css" href="../jquery.multiselect.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
    <style>
        body { font:12px Helvetica, arial, sans-serif }
        h1, h2, p { margin:10px 0 }
    </style>



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../src/jquery.multiselect.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

    <script type="text/javascript" src="angular-multiselect.js"></script>
</head>
<body ng-app="myApp">

    <h3>Basic</h3>
    <div ng-controller="myController">
        <!--<select jquery-ui-multiselect multiple="multiple">
            <option value="1">hello1</option>
            <option value="2">hello 2</option>
            <option value="3">hello 3</option>
            <option value="4">hello 4</option>
            <option value="5">hello 5</option>
            <option value="6">hello 6</option>
            <option value="7">hello 7</option>
            <option value="8">hello 8</option>
            <option value="9">hello 9</option>
            <option value="10">hello 10</option>
            <option value="11">hello 11</option>
            <option value="12">hello 12</option>
        </select>-->
        <button ng-click="testSelected()">Check Selected Items</button>
        <select 
			multiselect 
			multiple 
			ng-model="selectedItems" 
			ng-options="item.text for item in dataset track by item.value" 
			id="selectTest"
			ms-height="200"
			ms-min-width="400"
			ms-check-all-text="HelloCheckAll"
			ms-uncheck-all-text="DontCheckAll"
			ms-none-selected-text="EMPTY"
			ms-selected-text="# of # selected ha"
			ms-selected-list="2"
			ms-show="options.show"
			ms-hide="options.hide"
			ms-auto-open="true"
			>
		</select>
    </div>
    <script type="text/javascript">
        (function (angular) {
            'use strict';
            angular.module('myApp', ['ngMultiselect'])
            .controller('myController', ['$scope', function ($scope) {
                $scope.dataset = [
                    { text: 'hello12', value: 12 },
                    { text: 'hello23', value: 23 },
                    { text: 'hello34', value: 34 },
                    { text: 'hello45', value: 45 },
                    { text: 'hello56', value: 56 },
                    { text: 'hello68', value: 68 }
                ];
                
				
                $scope.selectedItems = [$scope.dataset[0]];
                $scope.testSelected = function () {
                    console.log($scope.selectedItems);
                };
				
				$scope.options = {
					show: ['bounce', 200],
					hide: ['explode', 1000]
				};
            }]);
        })(angular);
    </script>
</body>
</html>
